.ResponsiveNavigation {
    display: flex;
    width: 100%;
    background: #2A2A2A;
    margin-bottom: 25px;
}

.ResponsiveNavigationContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.items{
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Monserrat';
    font-style: 18;
    font-weight: 500;
    line-height: normal;
    color: white;
}

@font-face {
    font-family: 'Monserrat';
    src: url('../../assets/fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
}

.CartComponent{
    display: flex;
    flex-direction:row;
    margin: auto;
    gap: 10px;
    align-items: center ;
}